{% extends 'dash/base.html' %}
{% load static %}
{% block title %}
Add Testimonial
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'dash/plugins/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet"
    href="{% static 'dash/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock extra_head %}



{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Add Testimonial</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dash:home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Add Testimonial</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- Main content -->
    <section class="content">
        <form method="post" action="." class="container" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add New Testimonial</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="user_image">Testifier Image</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" accept="image/*" class="custom-file-input" name="user_image"
                                            required id="user_image">
                                        <label class="custom-file-label" for="user_image">Choose
                                            file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label for="first_name">Firstname</label>
                                        <input type="text" id="first_name" name="first_name" class="form-control"
                                            required placeholder="Enter firstname ...">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="last_name">Lastname</label>
                                        <input type="text" id="last_name" name="last_name" class="form-control" required
                                            placeholder="Enter lastname ...">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label for="job">Job</label>
                                        <input type="text" id="job" name="job" class="form-control"
                                            placeholder="Enter testifier job ..." required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="job_position">Job Position</label>
                                        <input type="text" id="job_position" name="job_position" class="form-control"
                                            placeholder="Enter testifier job position ..." required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="comment">Comment</label>
                                <textarea id="comment" name="comment" id="comment" class="form-control" required
                                    rows="4"></textarea>
                            </div>


                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="featured" name="featured">
                                <label for="featured" class="custom-control-label">Featured </label>
                            </div>




                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>

            <div class="row justify-content-center mb-4">
                <div class="col-md-8">
                    <input type="submit" value="Save" class="btn btn-info float-right">
                </div>
            </div>

        </form>


    </section>
    <!-- /.content -->


</div>
<!-- /.content-wrapper -->

{% endblock content %}
{% block extra_script %}

{% endblock extra_script %}


<div class="col-lg-6">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <input type="checkbox">
            </span>
        </div>
        <input type="text" class="form-control">
    </div>
    <!-- /input-group -->
</div>