{% load static %}
<!-- REQUIRED SCRIPTS -->
  <!-- jQuery -->
  <script src="{% static 'dash/plugins/jquery/jquery.min.js' %}"></script>

  <!-- Bootstrap -->
  <script src="{% static 'dash/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- overlayScrollbars -->
  <script src="{% static 'dash/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
  <!-- uPlot -->
  <!-- AdminLTE App -->
  <script src="{% static 'dash/dist/js/adminlte.js' %}"></script>

<!-- Sweet Alert2 -->
<script src="{% static 'dash/plugins/sweetalert2/sweetalert2.min.js' %}"></script>

  <!-- AdminLTE for demo purposes -->
  <script src="{% static 'dash/dist/js/demo.js' %}"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->